:root {
  --heading-color: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
  --secondary-color: #7707a3;
  --background-color: #f5edf5;
  --default-font-family: "Poppins", sans-serif;
  --heading-font-family: "Play", sans-serif;
  --title-font-family: "Island Moments", cursive;
  --box-shadow: 0 15px 17px rgb(0, 0, 0, 0.6);
}
body {
  font-family: var(--default-font-family);
  background: var(--background-color);
}
h1,
h2,
h3 {
  text-align: center;
  font-family: var(--default-font-family);
  font-weight: bold;
  color: black;
  font-size: 70px;
  margin-top: 40px;
}
p {
  font-family: var(--title-font-family);
  text-align: center;
  font-size: 70px;
  margin: 40px 60px;
}
h4 {
  font-family: var(--heading-font-family);
  font-weight: 600;
  font-size: 30px;
}
h5 {
  font-family: var(--title-font-family);
  font-weight: 100;
  font-size: 20px;
}
.name {
  font-family: var(--title-font-family);
}
.headline {
  text-align: center;
  padding: 100px;
  background: var(--heading-color);
}
.headline h1 {
  margin-top: 5px;
  font-weight: 600;
  font-size: 80px;
}
.headline h2 {
  font-family: var(--heading-font-family);
  font-size: 30px;
}
.headline h3 {
  margin-top: 20px;
  font-size: 35px;
  font-weight: bold;
}
.btn-primary {
  background: var(--secondary-color);
  padding: 20px 25px;
  line-height: 5px;
  border: 1px solid var(--secondary-color);
  border-radius: 7px;
  box-shadow: var(--box-shadow);
}
.btn-primary:hover {
  background: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  color: var(--background-color);
  text-decoration: underline;
}
.introduction {
  font-family: var(--title-font-family);
  text-align: center;
  font-size: 40px;
  font-weight: 400;
  margin: 40px 60px;
}
.slide-show {
  display: block;
  margin: 0 auto;
  max-width: 650px;
}

.title-paragraph {
  font-family: var(--heading-font-family);
  font-size: 45px;
}
ul {
  list-style-type: none;
}
.coder-skill {
  display: inline-block;
  margin: 15px 20px 0 0;
}
.coder-skill img {
  max-width: 75px;
}
.technology {
  font-family: var(--heading-font-family);
  font-size: 15px;
  margin-top: 2px;
}
.paragraph {
  border-radius: 20px;
  margin-top: 40px;
  padding-left: 50px;
}
.project-description {
  text-align: left;
  background: var(--heading-color);
  border: 1px solid var(--heading-color);
  border-radius: 20px;
  box-shadow: var(--box-shadow);
  padding: 10px 20px;
}
.paragraph-link {
  background: var(--secondary-color);
  color: var(--background-color);
  padding: 10px 15px;
  line-height: 10px;
  border: 1px solid var(--secondary-color);
  border-radius: 7px;
  box-shadow: var(--box-shadow);
  text-decoration: none;
}
.paragraph-link:hover {
  text-decoration: underline;
  color: var(--background-color);
  transition: all 150ms ease-in-out;
}
.contact-box {
  background: var(--heading-color);
  color: black;
  padding: 5px 10px;
}
#sub-contact {
  display: flex;
  justify-content: center;
}
#sub-contact a {
  color: rgb(124, 120, 120);
}
@media (max-width: 900px) {
  .headline {
    padding: 60px 20px;
    max-width: fit-content;
  }
  .project-description {
    text-align: center;
    background: var(--heading-color);
    border: 1px solid var(--heading-color);
    border-radius: 20px;
    box-shadow: var(--box-shadow);
  }
  .contact-page {
    font-size: 16px;
  }
  .sub-contact {
    display: inline-block;
  }
  .coder-skill {
    display: inline-block;
    padding: 2px 20px;
    margin: 5px 55px 5px -18px;
    max-width: 35px;
  }
  .technology {
    margin: 2px 30px;
  }
}
@media (max-width: 500px) {
  .contact-box .btn {
    display: none;
  }
}
.about-section h1 {
  font-size: 60px;
  font-family: var(--default-font-family);
  font-weight: 600;
}
.about-section h2 {
  font-family: var(--heading-font-family);
  font-size: 30px;
  font-weight: 100;
}
.about-paragraph {
  font-size: 26px;
}
#about-pic {
  display: flex;
  justify-content: center;
  padding: 0;
  max-width: 350px;
}
.contact {
  font-family: var(--heading-font-family);
  font-weight: bold;
  font-size: 25px;
  opacity: 0.9;
}
.contact a {
  text-decoration: none;
  color: var(--secondary-color);
  opacity: 0.75;
}
.contact a:hover {
  text-decoration: underline;
}
