:root {
  --heading-color: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
  --secondary-color: #7707a3;
  --background-color: #f5edf5;
  --default-font-family: "Poppins", sans-serif;
  --heading-font-family: "Play", sans-serif;
  --box-shadow: 0 5px 7px rgb(0, 0, 0, 0.7);
}
body {
  font-family: var(--default-font-family);
  background: var(--background-color);
}
h1,
h2,
h3 {
  text-align: center;
  font-family: var(--default-font-family);
  font-weight: bold;
  color: black;
  font-size: 70px;
  margin-top: 40px;
}
p {
  text-align: center;
  font-size: 25px;
  font-weight: 200;
  margin: 40px 60px;
}
.headline {
  text-align: center;
  padding: 100px;
  background: var(--heading-color);
}
.headline h1 {
  margin-top: 5px;
  font-weight: 600;
  font-size: 80px;
}
.headline h2 {
  font-family: var(--heading-font-family);
  font-size: 30px;
}
.headline h3 {
  margin-top: 20px;
  font-size: 35px;
  font-weight: bold;
}
.btn-primary {
  background: var(--secondary-color);
  padding: 20px 25px;
  line-height: 5px;
  border: 1px solid var(--secondary-color);
  border-radius: 7px;
  box-shadow: var(--box-shadow);
}
.btn-primary:hover {
  background: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  color: var(--background-color);
  text-decoration: underline;
}
.title-paragraph {
  font-family: var(--heading-font-family);
  font-size: 35px;
}
.paragraph-link {
  background: var(--secondary-color);
  color: var(--background-color);
  padding: 10px 15px;
  line-height: 5px;
  border: 1px solid var(--secondary-color);
  border-radius: 7px;
  box-shadow: var(--box-shadow);
}
.paragraph-link:hover {
  color: var(--background-color);
  transition: all 150ms ease-in-out;
}
#contact {
  display: flex;
  justify-content: center;
  text-align: center;
}
#contact a {
  color: rgb(124, 120, 120);
}
@media (max-width: 900px) {
  .headline {
    padding: 60px 20px;
    max-width: fit-content;
  }
  .project-description {
    text-align: center;
  }
}
